@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
html, body, #root {
    height: 100%; /* Asegura que el body ocupe el 100% de la pantalla */
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la pantalla */
}

main {
    flex: 1; /* Esto empuja el footer hacia abajo */
    padding: 1rem; /* Espaciado para tu contenido principal */
}

footer {
    background-color: #282c34;
    padding: 1rem;
    text-align: center;
    color: white;
    width: 100%;
    left: '0';
    bottom: '0';
}
